.listForm {
    background-color: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
    box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
    width: 573px;
}

.deleteMember {
    margin-top: 8px;
}

.formItem {
    padding: 10px 5px !important;
    -webkit-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
    box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
}

.flags {
    padding: 0 5px !important;
}

.flagInput {
    margin-bottom: 0 !important;
}

@media (max-width: 991px) {
    .listForm {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .listForm {
        width: auto;
    }
}
