.footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px 200px;
  background-color: #fff;
  font-size: 16px;
  -webkit-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
  box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
}

.dev {
  display: flex;
  align-items: center;
}

.dev a {
  margin-left: 15px;
}

@media (max-width: 1200px) {
  .footer {
    padding: 20px 50px;
  }
}

@media (max-width: 991px) {
  .footer {
    padding: 20px 15px;
  }
}
