.homeHeader {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 20px 200px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
    box-shadow: 0 1px 3px rgba(57, 63, 72, 0.1);
}

.sideMenuButton {
    display: none;
}

.brand {
    font-size: 30px;
    font-weight: 900;
}

.user {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.user button {
    margin-left: 10px;
}

@media (max-width: 1200px) {
    .homeHeader {
        padding: 20px 50px;
    }
}


@media (max-width: 991px) {
    .homeHeader {
        padding: 20px 15px;
        justify-content: start;
    }
    .brand {
        padding: 0 10px;
    }
    .homeHeader nav {
        display: none;
    }
    .user {
        display: none;
    }
    .sideMenuButton {
        display: block;
        color: var(--font-color);
    }
}