.rbc-toolbar {
    display: none !important;
}

.rbc-event {
    background-color: var(--hover-color);
    border-radius: 0;
}

span.rbc-agenda-empty {
    padding: 10px 10px 0 10px;
    text-align: center;
    font-size: 16px;
}